In [1]:
import os
import pandas 
import numpy 
from pyzipcode import ZipCodeDatabase
import matplotlib as plt

In [2]:
data_path = os.path.join(os.getcwd(), "data")
pop_path = os.path.join(data_path, "population_by_zip_2010.csv")
income_path = os.path.join(data_path, "kaggle_income.csv")
div_path = os.path.join(data_path, "population.csv")
# c_2_c_path = os.path.join(data_path, "uscities.csv")
# polution = os.path.join(data_path, "polution.csv")

In [3]:
pop_df = pandas.read_csv(pop_path, dtype={'zipcode':'category'})
div_df = pandas.read_csv(div_path)
inc_df = pandas.read_csv(income_path, encoding='latin-1')

In [4]:
pop_df = pop_df.dropna()
pop_df.shape
pop_df.columns

Index(['population', 'minimum_age', 'maximum_age', 'gender', 'zipcode',
       'geo_id'],
      dtype='object')

In [5]:
div_df

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Puerto Rico,Vega Baja Municipio,54754,26269,28485,96.7,3.1,0.1,0.0,...,1.4,0.6,0.9,31.6,14234,76.2,19.3,4.3,0.2,16.8
3216,72147,Puerto Rico,Vieques Municipio,8931,4351,4580,95.7,4.0,0.0,0.0,...,5.0,0.0,1.7,14.9,2927,40.7,40.9,18.4,0.0,12.8
3217,72149,Puerto Rico,Villalba Municipio,23659,11510,12149,99.7,0.2,0.1,0.0,...,2.1,0.0,2.8,28.4,6873,59.2,30.2,10.4,0.2,24.8
3218,72151,Puerto Rico,Yabucoa Municipio,35025,16984,18041,99.9,0.1,0.0,0.0,...,1.4,1.8,0.1,30.5,7878,62.7,30.9,6.3,0.0,25.4
3219,72153,Puerto Rico,Yauco Municipio,37585,18052,19533,99.8,0.2,0.0,0.0,...,1.7,0.1,5.0,24.4,8995,66.4,28.7,5.0,0.0,24.0